.image-results {
    margin: 16px 0;
  }
  
  .carousel {
    position: relative;
  }
  
  .arrowStyles {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  
  .arrowStyles:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  